*{
    margin: 0;
    padding: 0;
}
/*#menu{
    border: 2px solid red;
}
#menu > ul{
background-color:rgb(73, 69, 69) ;
}
 #menu ul{
     list-style: none;
     position: relative;
     float: left;
    
 }
 #menu ul a{
     color: aliceblue;
     text-decoration: none;
     font-size: 15px;
     line-height: 32px;
     font-weight: bold;
     padding: 0 15px;
     display: block;
 }
 #menu ul li{
     position: relative;
     margin: 0;
     padding: 0;
     float: left;
 }
 #menu ul ul{
     position: absolute;
     background-color: #2ecc71;
     top: 100%;
     left: 0;
     display: none;
 }
 #menu ul ul li{
     float: none;
     width: 200px;
 }
 #menu ul ul ul{
     top: 0;
     left: 100%;
 }
 #menu ul li:hover > ul{
     display: block;
 }*/
#menu > ul{
    background-color: rgb(36, 37, 37);
}
#menu ul{
    position: relative;
    list-style: none;
    float: left;
}
#menu ul a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    line-height: 32px;
    padding: 0 20px;
}
#menu ul li{
    position: relative;
    margin: 0;
    padding: 0;
    float: left;
}
#menu ul ul{
    position: absolute;
    background-color: aquamarine;
    top: 100%;
    left: 0;
    display: none;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul ul{
    top: 0;
    left: 100%;
}
#menu ul li:hover > ul{
    display: block;
}
