*{
    margin: 0;
    padding: 0;
}
.section1{
    width: 100%;
    height: 700px;
    background: url(./image/doctor-1-banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overly{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 45, 151,0.5);
    text-align: center;

}
.text{
    position: absolute;
    top: 300px;
    left: 600px;
    line-height: 40px;
}
.text h1{
    font-size:50px;
    color: white;
    box-shadow: 2px 2px 9px white;
}