*{
    margin: 0;
    padding: 0;
}
h1{
    color: red;
}
h1::before{
    content: 'fahim-';
}
h1::after{
    content: '-sirajul';
}
.button{
text-align: center;
margin-top: 50px;



}
.click{
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(23, 114, 114);
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.click::before{
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(78, 50, 16);
    border-radius: 10px;
    transition: 0.5s;
    z-index: -1;
    
}
.click:hover::before{
width: 100%;
}